<div class="container">
    <h1>Tenants</h1>
    <div class="tenant-list">
        @if(tenants()?.length){
            @for(tenant of tenants(); track tenant; let i = $index){
                <app-tenant-list-card [permitDeleteAction]="true" (onDeleteClick)="openDeleteColivingModal(tenant.id)" (onClick)="onTenantClick(tenant.id)" [tenant]="tenant"></app-tenant-list-card>
            }
        } @else {
            <div class="no-tenants">
                <p>No tenants in the room</p>
            </div>
        }
    </div>
</div>
<app-tenant-delete-modal></app-tenant-delete-modal>


